/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #6651a1;
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 0;
    font-weight: 600;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
    background: #880505;
    padding: 15px;
    border-radius: 8px;
}
.introdução {
    text-align: justify;
    margin-bottom: 20px;
    background: #5d4a92;
    padding: 15px;
    border-radius: 8px;
}

.category {
    margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: rgb(87, 86, 86);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 200px;
    text-align: center;
}
.card2 {
    background: rgb(87, 86, 86);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 350px;
    text-align: center; 
    
}

.card img {
    width: 100%;
    height: auto;
}
.card2 img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #555;
    margin: 0 10px 10px;
}

.form-section {
    background: #880505;
    padding: 20px;
    border: 1px solid #581515;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #555555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

a {
    color: #4b4b4b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.batata {
    text-align: center;
    background: #880505;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;


}
